
  
  body {
    background-color: #2061cb; }
  
  .btn--default {
    background-color: #2061cb;
    border: 0;
    border-radius: 3px;
    color: #fff; }
  
  .input--default {
    border: solid 2px;
    border-color: #2061cb;
    border-radius: 4px; }
  
  .header {
    background-color: #fff; }
    .header__title {
      color: #2061cb;
      text-align: center; }
  
  .main--container {
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 0 auto;
    max-width: 400px;
    padding: 10px;
    width: 100%; }
    .main--container__form {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      margin-top: 12px;
      margin-bottom: 45px; }
      .main--container__form--input {
        width: 66.5%;
        padding: 0.5rem; }
      .main--container__form--submit {
        padding: 1rem;
        box-sizing: border-box;
        width: 15.5%; }
  
  .task {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #c4e1e5;
    margin-bottom: 5px;
    padding: 5px;
    box-sizing: border-box;
    border: solid 1px #aaaaaa;
    border-radius: 4px; }
    .task__text {
      width: 87%;
      margin-block-start: 0.1rem !important;
      margin-block-end: 0.1rem !important; }
    .task__delete {
      width: 11%;
      height: 35px;
      color: #fff;
      background-color: #1b1da3;
      border-radius: 5px; }
  
  