@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  background-color: #2061cb; }

.Header {
  background-color: #fff; }
  .Header-title {
    color: #2061cb;
    text-align: center; }

.Tasks {
  padding: 0; }

.botton {
  background-color: #2061cb;
  border: 0;
  border-radius: 3px;
  color: #ffff; }

.MainForn {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 45px; }

.Main-input {
  width: 66.5%;
  padding: 0.5rem; }

.Main-submit {
  padding: 1rem;
  box-sizing: border-box;
  width: 15.5%; }

.MainContainer {
  background-color: #ffff;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 0 auto;
  max-width: 400px;
  padding: 10px;
  width: 100%; }

.Input-default {
  border: solid 2px;
  border-color: #2061cb;
  border-radius: 4px; }

.Task {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #c4e1e5;
  margin-bottom: 5px;
  padding: 5px;
  box-sizing: border-box;
  border: solid 1px #aaaaaa;
  border-radius: 4px; }
  .Task-text {
    width: 87%;
    margin-block-start: 0.1rem !important;
    margin-block-end: 0.1rem !important; }
  .Task-delete {
    width: 11%;
    height: 35px;
    color: #ffff;
    background-color: #2061cb;
    border-radius: 5px; }
  .Task-edit {
    width: 11%;
    height: 35px;
    color: #ffff;
    background-color: #2061cb;
    border-radius: 5px;
    margin-right: 6px; }

/*# sourceMappingURL=main.css.map */