.Main {
  &Forn {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 45px;
  }
  &-input {
    width: 66.5%;
    padding: 0.5rem;
  }
  &-submit {
    padding: 1rem;
    box-sizing: border-box;
    width: 15.5%;
  }
  &Container {
    background-color: $white;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 0 auto;
    max-width: 400px;
    padding: 10px;
    width: 100%;
  }
 
}
