.Task {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: $gray-light;
  margin-bottom: 5px;
  padding: 5px;
  box-sizing: border-box;
  border: solid 1px $gray;
  border-radius: 4px;
  &-text {
    width: 87%;
    margin-block-start: 0.1rem !important;
    margin-block-end: 0.1rem !important;
  }
  &-delete {
    width: 11%;
    height: 35px;
    color: $white;
    background-color: $blue-light;
    border-radius: 5px;
  }
  &-edit{
    width: 11%;
    height: 35px;
    color: $white;
    background-color: $blue-light;
    border-radius: 5px;
    margin-right: 6px;
  }
}
